export(robust.hook)
export(zelig2gamma.gee)
export(zelig2logit.gee)
export(zelig2normal.gee)
export(zelig2poisson.gee)
export(zelig2probit.gee)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
S3method(describe,gamma.gee)
S3method(describe,logit.gee)
S3method(describe,normal.gee)
S3method(describe,poisson.gee)
S3method(describe,probit.gee)
S3method(param,gamma.gee)
S3method(param,logit.gee)
S3method(param,normal.gee)
S3method(param,poisson.gee)
S3method(param,probit.gee)
S3method(plot,sim.gamma.gee)
S3method(plot,sim.logit.gee)
S3method(plot,sim.normal.gee)
S3method(plot,sim.poisson.gee)
S3method(plot,sim.probit.gee)
S3method(qi,gamma.gee)
S3method(qi,logit.gee)
S3method(qi,normal.gee)
S3method(qi,poisson.gee)
S3method(qi,probit.gee)
S3method(vcov,gee.naive)
S3method(vcov,gee.robust)
