export(describe.gamma.gee)
export(describe.logit.gee)
export(describe.normal.gee)
export(describe.poisson.gee)
export(describe.probit.gee)
importFrom(Zelig, describe, param, qi)
export(param.gamma.gee)
export(param.logit.gee)
export(param.normal.gee)
export(param.poisson.gee)
export(param.probit.gee)
S3method(plot, sim.gamma.gee)
export(qi.gamma.gee)
export(qi.logit.gee)
export(qi.normal.gee)
export(qi.poisson.gee)
export(qi.probit.gee)
export(robust.hook)
S3method(vcov, gee.naive)
S3method(vcov, gee.robust)
export(zelig2gamma.gee)
export(zelig2logit.gee)
export(zelig2normal.gee)
export(zelig2poisson.gee)
export(zelig2probit.gee)
